.search {
  width: 127px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 10px;
  background-color: white;
  /*background-image: url('searchicon.png');*/
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 7px 10px 12px 14px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 100%;
}

